<!-- cart_detail.html -->
{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% block title %} 購物車 {% endblock %}
{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='panel panel-warning'>
                    <div class='panel-heading' align=center>
                        <h3>購物車</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-responsive table-hover mt-3 min-height-30">
            <thead>
                <tr class="table-Warning">
                    <th>圖片</th>
                    <th>產品</th>
                    <th>數量</th>
                    <th class="text-right">單價</th>
                    <th class="text-center">小計</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                    <tr>
                        <td width="15%">
                            <a gref="{{ product.get_absolute_url }}">
                                <img src="{{ product.image }}" style="width:100%">
                            </a>
                        </td>
                        <td width="25%">{{ product.name }}</td>
                        <td width="10%">
                            <form action="{% url 'cart_add-url' product.id %}" method="post">{% csrf_token %}
                                <div class="input-group">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="更新" class="btn btn-primary btn-sm">
                                </div>
                                {% comment %} {% bootstrap_field item.update_quantity_form.quantity show_label=False %}
                                {% bootstrap_field item.update_quantity_form.update %}
                                {% bootstrap_button "更新" button_type="submit" button_class="btn-primary" %} {% endcomment %}
                                {% comment %} {% buttons %}<button type="submit" class="btn btn-success btn-product">更新</button>{% endbuttons %} {% endcomment %}
                            </form>
                        </td>
                        <td class="text-right">{{ item.price }}</td>
                        <td class="text-center">{{ item.total_price }}</td>
                        <td width="6%"><input onclick="window.location.href='{% url "cart_remove-url" product.id %}'" type="button" class="btn btn-outline-danger btn-sm" value="刪除"></td>
                    </tr>
                    {% endwith %}
                {% endfor %}
                <tr>
                    <td><h3>Total</h3></td>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td class="text-right"><h3><strong>${{ cart.get_total_price }}</strong></h3></td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td>
                        {% comment %} <a href="{% url 'shop-url' %}" class="btn btn-primary">繼續購物</a> {% endcomment %}
                    </td>
                    <td>
                        <a href="{% url 'order_create-url' %}" class="btn btn-warning btn-lg">結帳</a>
                    </td>
                </tr>
            </tbody>
        </table>





                {% comment %} <tr class="demo-blue">
                    <td>Total</td>
                    <td colspan="4"></td>
                    <td>{{ cart.get_total_price }}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-info mr-2" onclick="window.location.href='{% url "shop-url" %}'">繼續購物</button>
            <button class="btn btn-primary ml-2" onclick="window.location.href='{% url "order_create-url" %}'" {% if not cart %}disabled{% endif %}>結帳</button>
        </div> {% endcomment %}

    </div>

{% endblock %}