<!-- accounts/signup.html -->
{% extends 'base.html' %}
{% load i18n %}
{% block title %} 註冊 {% endblock %}
{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='panel panel-default'>
                    <div class='panel-heading' align=center>
                        <h3>會員註冊</h3>
                    </div>
                </div>
            </div>
        </div>
        {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>
            {{ message }}
        </div>
        {% endfor %}
        <div class='row'>
            <form action='' method='POST'> {% csrf_token %}
            <table class='table'>
                {{ form.as_table }}
            </table>
            <input type="submit" value="註冊">
            </form>
        </div>
    </div>
{% endblock %}